<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Share Link</title>
</head>
<body>
    <div class="container">
        <h1 class="logo">File<span>Truck</span></h1>
        <div class="box">
            <img class="box-img" src="/img/logo.svg" alt="">
            <h1 class="ready-download">The link is ready to be shared</h1>
            <h3 class="link-valid">The link expires in 24 hours</h3>
            <p class="filename"><%= link %></p>
        </div>
    </div>
</body>
</html>